@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;500;700&family=Poppins:wght@400;500;700;800&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-inria {
  font-family: "Inria Sans", sans-serif;
}
/* Custom styles for our Swiper carousel */

html {
  scroll-behavior: smooth;
}

/* Optional: ensure scaled slides aren't clipped */
.mySwiper .swiper-wrapper {
  overflow: visible;
}

.testimonial-swiper .swiper-pagination {
  margin-top: 0.5rem;
  position: relative;
}

.testimonial-swiper .swiper-pagination-bullet {
  background-color: #a8a8a8;
}
.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: #0b7bfb;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
/* Add this to your CSS file */
.faq-inner-shadow::after {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
  background: radial-gradient(circle at center, transparent 30%, #131417 100%);
  pointer-events: none; /* so it doesn’t block interactions */
  z-index: 1; /* sits between the background and the inner content */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.animate-fade-in-up {
  animation: fadeInUp 0.4s ease-out forwards;
}
.animate-fade-out-down {
  animation: fadeOutDown 0.5s ease-in forwards;
}
