@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;500;700&family=Poppins:wght@400;500;700;800&display=swap");

/* Custom styles for our Swiper carousel */

/* Optional: ensure scaled slides aren't clipped */
.mySwiper .swiper-wrapper {
  overflow: visible;
}

.testimonial-swiper .swiper-pagination {
  margin-top: 0.5rem;
  position: relative;
}

.testimonial-swiper .swiper-pagination-bullet {
  background-color: #a8a8a8;
}
.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: #0b7bfb;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
/* Add this to your CSS file */
.faq-inner-shadow::after {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
  background: radial-gradient(circle at center, transparent 30%, #131417 100%);
  pointer-events: none; /* so it doesn’t block interactions */
  z-index: 1; /* sits between the background and the inner content */
}
