@import "tailwindcss";
/* Custom styles for our Swiper carousel */
.mySwiper .swiper-slide {
  transition: transform 0.5s ease;
  transform: scale(0.5); /* default scale for non-active slides */
}

.mySwiper .swiper-slide.swiper-slide-active {
  transform: scale(1.1); /* center (active) slide gets larger */
}

.mySwiper .swiper-slide.swiper-slide-next,
.mySwiper .swiper-slide.swiper-slide-prev {
  transform: scale(0.5); /* adjacent slides */
}

/* Optional: ensure scaled slides aren't clipped */
.mySwiper .swiper-wrapper {
  overflow: visible;
}

.testimonial-swiper .swiper-pagination {
  margin-top: 0.5rem;
  position: relative;
}

.testimonial-swiper .swiper-pagination-bullet {
  background-color: #a8a8a8;
}
.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: #0b7bfb;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
